[mysqld]
# Tempo de espera para operações de leitura e escrita de rede
net_read_timeout = 50000
net_write_timeout = 50000

# Tempo máximo de espera para uma conexão ociosa (em segundos)
wait_timeout = 28800
interactive_timeout = 28800

# Tempo máximo de espera para obter um bloqueio no InnoDB
innodb_lock_wait_timeout = 50000

# Aumenta o buffer de rede (em bytes)
net_buffer_length = 16384

# Redefine o tamanho máximo de pacotes de rede (em bytes)
max_allowed_packet = 1G

# Redefine a quantidade máxima de pacotes de comunicação simultâneos
interactive_timeout = 28800
